<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PIRATEZZZ!</title>
    <link rel="stylesheet" href='/stylesheets/bootstrap.min.css' type='text/css'>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
